.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 80%;
  padding: 5%;
  border-bottom: 1px solid rgba(36, 33, 33, 0.1);
}
.entry {
  min-height: 6rem;
  text-decoration: none;
  position: relative;
  color: #242121;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
}
.entry:focus,
.entry:hover {
  cursor: pointer;
}
.date {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.title {
  text-transform: uppercase;
}
.entry:focus .title,
.entry:hover .title {
  color: #d45c54;
}
.excerpt {
  color: rgba(36, 33, 33, 0.6);
}
.button {
  background: #242121;
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
  text-align: center;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0.4rem 2rem;
  overflow: hidden;
  letter-spacing: 0.1rem;
  max-width: 8rem;
  border-width: 0;
  outline: 0;
}

.arrow::after {
  position: relative;
  display: inline-block;
  content: '➞';
  transform: translateX(50%);
  transition: transform 0.3s ease-in-out;
}

.button:focus .arrow::after,
.button:hover .arrow::after {
  transform: translateX(100%);
}

.yearPostsContainer {
  display: block;
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%; */
  width: 100%;
  padding: 5%;
  padding-bottom: 0;
  margin: auto;
}
.year {
  margin: auto;
  padding: 0 5%;
}
.postPreviewWrapper {
  padding: 0 5%;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex: 0 0 50%;
    /* max-width: 50%; */
  }
  .yearPostsContainer {
    width: 60%;
  }
}
